<html>
    <head>
        <title>Demo help viewer</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    </head>
    <body >
        <header style="background-color: #80c080; color: #ffffff; padding-bottom: 20px">
            <div class="container">
                <h1>Demo content viewer</h1>
            </div>
        </header>
        <div class="container">
            <h1>{{body}}</h1>
        </div>
        <footer style="background-color: #e0e0e0; margin-top: 200px; padding-top: 50px; padding-bottom: 200px;">
            <div class="container">
                <p>(c) Acme Corp</p>
                <p>For any further questions, please contact support@acme.web</p>
            </div>
        </footer>

    </body>
</html>
