<html>
    <head>
        <title>Context Service demo</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    </head>
    <body >
        <div class="container">
            <h1>Context service demo</h1>
            <p>This simple static HTML document demonstrates different ways to link content to contexts and elements.</p>
        </div>
        
        
        <div class="container">
            <h2>Login screen example</h2>
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    
                    <div class="panel panel-default" id="loginbox">
                        <div class="panel-heading">Login box</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" class="form-control" name="login_username" />
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" name="login_password" />
                            </div>
                            <div class="buttonbox" style="text-align: right">
                                <button type="button" class="btn btn-default" id="signup">Signup</button>
                                <button type="button" class="btn btn-primary" id="login">Login</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                </div>
            </div>
            
        </div>
        

        <!-- Context service code -->
        <script>
        (function(w,d,uri,varName,s,m){
            w[varName] = w[varName]||{
                baseUri:uri,
                account:'',
                contextid:'',
                account: function(v){
                    this.account=v;
                    return this;
                },
                contextid: function(v){
                    this.contextid=v;
                    return this;
                }}
            s = d.createElement('script');
            m = d.getElementsByTagName('script')[0];
            s.async=1;
            s.src=uri+'contextservice.js';
            m.parentNode.insertBefore(s,m);

            s = d.createElement('link');
            s.rel='stylesheet';
            s.href=uri+'contextservice.css';
            m.parentNode.insertBefore(s,m);
        })(window,document,'//localhost:8787/','ContextService');
        ContextService.account('demo').contextid('hello_world');
        </script>
        <!-- End Context service code -->
    </body>
</html>
