<html>
    <head>
        <title>Context service test page</title>
    </head>
    <body >
        <h1>Context service examples</h1>
        <button type="button" data-csid="/faq/index">Test</button>

        <!-- Context service code -->
        <script>
        (function(w,d,uri,varName,s,m){
            w[varName] = w[varName]||{
                baseUri:uri,
                account:'',
                contextid:'',
                account: function(v){
                    this.account=v;
                    return this;
                },
                contextid: function(v){
                    this.contextid=v;
                    return this;
                }}
            s = d.createElement('script');
            m = d.getElementsByTagName('script')[0];
            s.async=1;
            s.src=uri+'contextservice.js';
            m.parentNode.insertBefore(s,m);
        })(window,document,'//localhost:8787/','ContextService');
        ContextService.account('demo').contextid('hello_world');
        </script>
        <!-- End Context service code -->
    </body>
</html>
