.cs-message {
	position: absolute;
	background-color: #ebf4dd;
	border: solid 1px #64992C;
	border-radius: 3px;
	padding: 10px;
	top: 20px;
    left: 50%;
    margin-left: -200px;
    width: 400px;

    opacity: 0.7;
}
.cs-message:hover {
	opacity: 1;
}
body[data-cs-active="true"] [data-cs-highlight="true"] {
	border: solid 1px red;
}